<div class="container">

  <div class="main-container">

    <div class="episode-sidebar">
      <h1>Mes épisodes</h1>

      <div class="separator"></div>

      <h2>Mes épisodes</h2>

      <p> <%= @episode.description %></p>

      <h2>Ajouter un épisode</h2>

      <div class="btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAppointment" > Ajouter un rendez-vous</button>
      </div>

      <div class="btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNote">   Ajouter une note
        </button>
      </div>

      <h2>Mon équipe soignante</h2>

      <div class="btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCaregiver" >Ajouter un soignant
        </button>
      </div>

      <%@caregivers.each do |caregiver| %>
        <div class="episode-sidebar-caregiver">
          <div class="episode-sidebar-caregiver-avatar">
          <%= cl_image_tag caregiver.photo, :height=> 35 %>
          </div>
          <div class="episode-sidebar-caregiver-fullname">
            <%= caregiver.firstname %> <%= caregiver.lastname %>
          </div>
          <div class="episode-sidebar-cargiver-speciality">
            <%= caregiver.speciality %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="timeline-container">

      <div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby=addAppointmentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addAppointmentLabel">Ajouter un rendez-vous</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "appointments/form_appointment" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="  addNoteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNoteLabel">Ajouter une note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "notes/form_note" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addCaregiver" tabindex="-1" role="dialog" aria-labelledby=exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter un soignant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "appointments/form_appointment" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <%@events.each do |event| %>

          <div class="col-xs-12">

            <!-- card begin -->
            <div class="card-event-timeline">
              <div class="card-event-timeline-date">
                <%=event.date.strftime('%d/%m/%Y')%>
              </div>
              <% if event.category == "appointment" %>
                <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"card-event-timeline-avatar" %>
              <% end %>

              <div class="card-event-timeline-category">
                <% if event.category == "appointment" %>
                  <p>Rendez-vous avec <%=event.caregiver.firstname.capitalize%> <%=event.caregiver.lastname.capitalize%>, <%=event.caregiver.speciality.capitalize%> </p>
                <% else %>
                  <p>Prise de note</p>
                <% end %>
              </div>

              <div class="card-event-timeline-description">
                <p>
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    <%= event.description%>
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </p>
              </div>


            </div>
            <!-- card end -->
          </div>

        <% end %>
      </div>

    </div>
  </div>
</div>






