
<div class="episodes-index-container">
  <div class="episodes-head">
    <div class="episodes-title">
      <div>
        <h3>Mes épisodes</h3>
      </div>
    </div>


    <div class="add-episode">
      <div class="search">
        <%= form_tag(episodes_path, method: :get) do %>
        <%= text_field_tag :name %>
        <%= submit_tag 'Search', class: "btn-blue"%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="episodes">
    <div class="row">
      <% @episodes.each do |episode| %>
      <!-- episode card beginning -->

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card-episode">
          <div class="card-episode-upbox">
            <div class="episode-name">
              <%= episode.name.capitalize %>
            </div>
          </div>
          <div class="card-episode-downbox">
            <div class="episode-date">
              Mis à jour le <%= episode.updated_at.strftime("%d-%m-%Y") %>
            </div>
            <div class="episode-button">
              <div>
                <%= link_to "Voir l'épisode", episode_path(episode), class:"blue-btn decoration-btn" %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


