<div class="main-container">

  <div class="index_episode-sidebar">
  <h1>Bonjour <%= current_patient.firstname.capitalize %></h1>

  <div class="separator"></div>

  <h2>Créer un épisode</h2>

  <div class="sidebarbtn">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addEpisode"> Ajouter un épisode</button>
  </div>

  <h2>Mon équipe soignante</h2>

      <%@caregivers.each do |caregiver| %>
        <div class="index-episode-sidebar-caregiver">
          <div class="episode-sidebar-caregiver-avatar">
          <%= cl_image_tag caregiver.photo, :height=> 35 %>
          </div>
          <div class="episode-sidebar-caregiver-fullname">
            <%= caregiver.firstname %> <%= caregiver.lastname %>
          </div>
          <div class="episode-sidebar-cargiver-speciality">
            <%= caregiver.speciality %>
          </div>
        </div>
      <% end %>
    <div class="sidebarbtn">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCaregiver">Ajouter un soignant
    </button>
  </div>

    </div>


  <div class="episodes-index-container">
  <div class="episodes-head">
    <div class="episodes-title">
      <div>
        <h3>Mes épisodes</h3>
      </div>
    </div>


    <div class="add-episode">

    </div>



  </div>

  <div class="rowbtn">

    <div class="search">

      <%= form_tag(episodes_path, method: :get) do %>
      <%= text_field_tag :name, :Recherche  %>
      <% end %>
    </div>

    <div class="mobile-only">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addEpisode"> Ajouter un épisode</button>
  </div>



   <div class="modal fade" id="addEpisode" tabindex="-1" role="dialog" aria-labelledby=addEpisodeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addEpisodeLabel">Ajouter un épisode medicale</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "form_new_episode" %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addCaregiver" tabindex="-1" role="dialog" aria-labelledby=addCaregiverLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addCaregiverLabel">Ajouter un soignant</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "caregivers/form_caregiver" %>
        </div>
      </div>
    </div>
  </div>


<!--     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal" >Ajouter un épisode</button>


     <%#= link_to "Vue chonologique", chrono_episodes_path, class: "btn btn-success" %>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby=exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Ajouter un épisode medicale</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%#= render "form_new_episode" %>
        </div>
      </div>
    </div>
  </div> -->

  <%#= link_to "Ajouter un épisode medical", new_episode_path %>
  </div>

  <div class="episodes">
    <div class="row">
      <% @episodes.each do |episode| %>
      <!-- episode card beginning -->

      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="card-episode">
          <div class="card-episode-upbox">
            <div class="episode-name">
              <%= episode.name.capitalize %>
            <div class="icon">
            <%= cl_image_tag episode.icon, :height=> 35 %>
            </div>
            </div>
          </div>
          <div class="card-episode-downbox">
            <div class="episode-date">
              Mis à jour le <%= episode.updated_at.strftime("%d-%m-%Y") %>
            </div>
            <div class="episode-button">
              <div>
                <%= link_to "Voir l'épisode", episode_path(episode), class:"blue-btn decoration-btn" %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>
</div>





