<div class="container">

  <div class="main-container">

<!-- modals   -->
    <div class="episode-sidebar">
      <h1><%= @episode.name %></h1>

      <div class="separator"></div>

      <h2>Description</h2>

      <p> <%= @episode.description %></p>

      <h2>Ajouter un évènement</h2>

      <div class="btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAppointment" > Ajouter un rendez-vous</button>
      </div>

      <div class="btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNote">   Ajouter une note
        </button>
      </div>

      <h2>Mon équipe soignante</h2>

      <div class="btn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCaregiver" >Ajouter un soignant
        </button>
      </div>

      <%@caregivers.each do |caregiver| %>
        <div class="episode-sidebar-caregiver">
          <div class="episode-sidebar-caregiver-avatar">
          <%= cl_image_tag caregiver.photo, :height=> 35 %>
          </div>
          <div class="episode-sidebar-caregiver-fullname">
            <%= caregiver.firstname %> <%= caregiver.lastname %>
          </div>
          <div class="episode-sidebar-cargiver-speciality">
            <%= caregiver.speciality %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="timeline-container">

      <div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby=addAppointmentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addAppointmentLabel">Ajouter un rendez-vous</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "appointments/form_appointment" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="  addNoteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addNoteLabel">Ajouter une note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "notes/form_note" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addCaregiver" tabindex="-1" role="dialog" aria-labelledby=exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter un soignant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "appointments/form_appointment" %>
            </div>
          </div>
        </div>
      </div>
<!-- end modals -->



<!-- begin timeline container -->
    <div class="timeline-container">

<!-- begin timeline head container  -->
      <div class="timeline-head-container">

      </div>
<!-- end timeline head container  -->

    <div class="col-xs-12">

        <%@events.each do |event| %>



<!-- card begin -->
          <% if event.category == "appointment" %>
            <div class="card-event">
              <div class="row-banner">
                <!-- <div class="card-event-banner"> -->
                <div class="event-date appointment">
                  <%= event.date.strftime('%d/%m/%Y')%>
                </div>
                <div class="avatar-content appointment">
                  <div class="event-avatar">
                    <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"" %>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <div class="box-shadow">
                <div class="card-event-content">
                  <div class="card-event-content-row">
                    <div class="event-caregiver">
                      <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"" %>
                    </div>
                    <div class="event-text">
                      <div class="event-title">
                          Rendez-vous avec <%=event.caregiver.firstname.capitalize%> <%=event.caregiver.lastname.capitalize%>, <%=event.caregiver.speciality.capitalize%>
                      </div>
                        <div class="event-description">
                          <%= event.description%>
                        </div>
                      </div>
                    </div>
                  <div class="card-event-footer">
                    <div class="card-event-footer-row1">
                      <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"" %>
                      <div class="docs-number">
                        <p><%= event.documents.count %> documents associés</p>
                      </div>
                    </div>
                    <div class="card-event-footer-row2">
                      <div class="docs-view">
                        <!-- iteration each doc |event| -->
                        <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"" %>
                        <!-- end iteration -->
                        <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"" %>
                      </div>
                      <div>
                        <%= cl_image_tag event.caregiver.photo, :height=> 35, class:"" %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <% else %>

            <div class="card-event">
              <div class="row-banner">
                <!-- <div class="card-event-banner"> -->
                <div class="event-date note">
                  <%= event.date.strftime('%d/%m/%Y')%>
                </div>
                <div class="avatar-content note">
                  <div class="event-avatar">
                    <%= image_tag("logo.png", :height=> 35, class:"") %>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <div class="box-shadow">
                <div class="card-event-content">
                  <div class="card-event-content-row">
                    <div class="event-text">
                      <div class="event-title">
                          Prise de note
                      </div>
                        <div class="event-description">
                          <%= event.description%>
                        </div>
                      </div>
                    </div>
                  <div class="card-event-footer">
                    <div class="card-event-footer-row1">
                      <%= image_tag("logo.png", :height=> 35, class:"") %>
                      <div class="docs-number">
                        <p><%= event.documents.count %> documents associés</p>
                      </div>
                    </div>
                    <div class="card-event-footer-row2">
                      <div class="docs-view">
                        <!-- iteration each doc |event| -->
                        <%= image_tag("logo.png", :height=> 35, class:"") %>
                        <!-- end iteration -->
                        <%= image_tag("logo.png", :height=> 35, class:"") %>
                      </div>
                      <div>
                        <%= image_tag("logo.png", :height=> 35, class:"") %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>





      <% end %>

<!-- card end -->



        <% end %>
         </div>
      </div>
    </div>
<!-- end timeline container -->

  </div>
</div>






