<div class="container">



  <div class="row">

    <h1><%= @episode.name %></h1>

     <!--    < "Ajouter un rdv", new_episode_appointment_path(@episode), class:"btn btn-primary", data: { toggle: "modal", target: '#loginModal' } %>
 -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" >Ajouter RDV</button>


        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un RDV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render "appointments/form_appointment" %>
              </div>

            </div>
          </div>
        </div>





    <div class="card-event-timeline-begin">


    </div>

    <% @events.each do |event| %>

      <div class="col-xs-12">

        <!-- card begin -->


        <div class="card-event-timeline" >

          <div class="card-event-timeline-left">
            <div class="card-event-timeline-date">
              <p><%=event.date%></p>
            </div>
          </div>

          <div class="card-event-timeline-middle">

            <div class="card-event-timeline-name">
              <% if event.category == "appointment" %>
                <p>Rendez-vous avec <%=event.caregiver.speciality%> <%=event.caregiver.firstname%></p>
              <% else %>
                <p>Prise de note</p>
              <% end %>
            </div>

            <div class="card-event-timeline-description">
              <p> Details : <%= event.description%></p>
            </div>

            <% if event.documents.size > 0 %>
              <div class="card-event-timeline-documents">
                  <i class="fa fa-paperclip" aria-hidden="true"></i>

                  <%= pluralize event.documents.size, "document", "documents" %>

                  <div id="<%= event.id %>" class="collapse out">

                    <ul>
                      <% event.documents.each do |document|  %>
                      <!-- <li><%#= link_to document.name, episodes_path %></li> -->
                      <li data-toggle="modal" data-target="#<%= document.id%>">
                        <%= document.name %>
                        <li id="<%= document.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <%= cl_image_tag document.document, :height=> 60, :radius=>50 %>
                          <%= document.created_at %>
                        </li>
                      </li>

                      <% end %>
                    </ul>
                  </div>
              </div>
            <% end %>

          </div>

          <div class="card-event-timeline-right">
            <% if event.documents.size > 0 %>
              <div class="card-event-timeline-carret">
                <i class="fa fa-caret-right" aria-hidden="true" data-toggle="collapse" data-target="#<%= event.id%>"> </i>
                <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
              </div>
            <% end %>
            <div class="card-event-timeline-picto">
              <% if event.category == "consultation" %>
                <%= cl_image_tag event.caregiver.photo, :height=> 60, :radius=>50 %>
              <% else %>
                <%= cl_image_tag @episode.patient.photo, :height=> 60, :radius=>50 %>
              <% end %>


            </div>
            <div class="card-event-timeline-btn">
              <%= link_to "Ajouter un document", episodes_path, class:"btn btn-primary" %>
            </div>
          </div>

        </div>
        <!-- card end -->
      </div>

    <% end %>
  </div>
</div>





