<div class="main-container">

  <div class="index_episode-sidebar">
    <div class="caregiver-head">
      <h1> <%= @caregiver.firstname %> <%= @caregiver.lastname %></h1>
    </div>
    <div class="separator"></div>
    <div class="caregiver-head">
      <h2><%= @caregiver.speciality %></h2>
    </div>
    <div class="photo-caregiver">
      <%= cl_image_tag @caregiver.photo, :height=> 35 %>
    </div>
    <div class="caregiver-details">
        <p><%= @caregiver.address %></p>
        <p><%= @caregiver.mail %></p>
        <p><%= @caregiver.phone_number %></p>

    </div>
  </div>

  <div class="episodes-index-container">
    <div class="episodes-head">
      <div class="episodes-title">
        <div>
          <h3><i class="fa fa-share-alt" aria-hidden="true"></i>   Partager vos épisodes </h3>


        </div>
      </div>
    </div>

    <div class="rowbtn">

    </div>

    <div class="episodes">
      <div class="row">
        <% @episodes.each do |episode| %>
        <!-- episode card beginning -->

          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="card-episode">
              <%= link_to episode_path(episode) do %>
                <div class="card-episode-upbox">
                  <div class="episode-name">
                    <%= episode.name.capitalize %>
                      <div class="icon">
                        <%= cl_image_tag episode.icon, :height=> 35 %>
                      </div>
                  </div>
                </div>
                <div class="card-episode-downbox">
                  <div class="episode-date">
                    Mis à jour le <%= episode.events.order(updated_at: :desc).first.updated_at.strftime("%d-%m-%Y") %>
                  </div>
                  <div class="episode-button">

                    <div class=" decoration-btn">Partager</div>
                  </div>

                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



